<div class="container">
<div class="columns is-centered">
<div class="column is-half">
<h1 class="my-5 mx-5">New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
</div>
</div>
</div>